<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.AddressMapper">

    <select id="getAddresses" resultType="com.shop.entity.Address">
        SELECT * FROM hiolabs_address WHERE user_id=#{uid} AND is_delete=0
    </select>

    <select id="findAddressById" parameterType="java.lang.Integer" resultType="com.shop.entity.Address">
        SELECT * FROM hiolabs_address WHERE id=#{id}
    </select>

    <insert id="saveAddress" parameterType="com.shop.entity.Address">
        INSERT INTO hiolabs_address
        (name,user_id,country_id,province_id,city_id,district_id,address,is_default,is_delete)
        VALUES (#{address.name},#{address.user_id},#{address.country_id},#{address.province_id},#{address.city_id},#{address.district_id},#{address.address},#{address.is_default},#{address.is_delete})
    </insert>

    <select id="queryRecentId" resultType="java.lang.Integer">
        SELECT LAST_INSERT_ID() FROM hiolabs_address LIMIT 1
    </select>

</mapper>