<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wy.shop.mapper.GoodsMapper">

    <select id="getGoodsCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM hiolabs_goods WHERE is_delete=0
    </select>

    <select id="getGoodsByCategoryId" parameterType="java.lang.Integer" resultType="com.wy.shop.entity.Goods">
        SELECT * FROM hiolabs_goods WHERE category_id=#{category_id} AND is_index=1
    </select>

    <select id="getCatalogGoods"  resultType="com.wy.shop.entity.CatalogGoods">
        SELECT id,name,goods_brief,min_retail_price,goods_number,list_pic_url
        FROM hiolabs_goods
        WHERE is_delete=0
        <if test="id!=null and id!='' ">
            AND category_id= #{id}
        </if>
        LIMIT #{startPage},#{pageSize}
    </select>

    <select id="getSpecificationGoods" parameterType="java.lang.Integer" resultType="com.wy.shop.entity.Goods">
        SELECT * FROM hiolabs_goods WHERE id=#{id}
    </select>

    <select id="getGoodsListByKeyword" parameterType="java.lang.Integer" resultType="com.wy.shop.entity.Goods">
        SELECT * FROM hiolabs_goods WHERE is_delete=0 AND is_on_sale=1 name LIKE CONCAT('%', #{keyword}, '%')
    </select>

</mapper>