<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.GoodsSpecificationMapper">

    <select id="getGoodsSpecificationByGid" resultType="com.shop.entity.GoodsSpecification">
        SELECT * FROM hiolabs_goods_specification WHERE goods_id=#{goodsId}
    </select>

    <select id="getSpecificationValueById" parameterType="java.lang.Integer" resultType="java.lang.String">
        SELECT value FROM hiolabs_goods_specification where id=#{goodsSpecificationId}
    </select>

</mapper>